{% load static %} <!--静的ファイルをロードする-->
<!doctype html> <!--DOCTYPE宣言と呼ばれる文書タイプがhtmlであることを示す-->
<html lang="ja"> <!--このhtml要素内でしようされる言語は日本語だということ,ブラウザに言語を認識させるイメージ-->
<head>
  <meta charset="utf-8"> <!--メタ要素というページに関する様々な情報を記述する要素、今回はutf-8という文字コードに設定している-->
  <title>{{title}}</title> <!--テンプレートで使用できる変数にtitleを追加-->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="container">
  <h1 class="display-4 text-primary">{{title}}</h1>
  <p class="h5 mt-4">{{result|safe}}</p>
  <form action="{% url 'index' %}" method="post"> <!--formタグのaction属性にフォームによって送信された情報を処理するプログラムのurlを指定、method属性でhttpメソッドをpostメソッドに指定-->
    {% csrf_token %} <!--CSRF(リクエスト偽造)対策用のトークンを追加、これで「正しくフォームから送信されたアクセスかどうかを判定できる」-->
    <table>
    {{ form.as_p }} <!--呼び出したFormクラスのフィールドをpタグでくくってBootstrapでのデザインを使う-->
    <tr><td></td><td>
      <input type="submit" class="btn btn-primary my-2"  value="click"> <!--inputタグのtype属性をsubmitにすることで送信ボタンを作成、value属性をclickに指定-->
    </td>
    </table>
  </form>
</body>
</html>